extends layout
block content
  - var roles = user.roles.map((role) => role.name)

  if currentUser
    #chirps
      if limit == undefined
        #chirp
          strong Older Messages Hidden for performance
          form(action="/" method="get")
            input(type="hidden" name="limit" value="100000")
            button.minor#showOlderMessages Show Older Messages 
      each chirp in chirps
        #chirp(role=chirp.user.roles.map((value) => value.name))
          #chirpHeader
                if roles.includes("Admin") || roles.includes("SuperUser")
                  if currentUser && currentUser.username==chirp.user.username
                    p#username You
                  else
                    p#username=chirp.user.username

                  if roles.includes("Admin")
                    form(action="/deleteMessage" method="post")#deleteMessage
                      input(type="hidden" name="messageId" value=chirp._id)
                      button.minor ❌
                  p#timestamp #{chirp.timestamp_relative}
                else 
                  p#username ■■■■■■
                  p#timestamp ■■■■■■
          p #{chirp.decodedMessage}

    #chirpInput
      form(action="/newMessage" method="post")
        input(type="text" name="message" placeholder="message" required autofocus)
        button Chirp
  else
    #blocker
      h1#icon 🐦
      h1 You must be logged in to chirp.
      form(action="/login" method="get")
        button Log in
      form(action="/signup" method="get")
        button.minor Sign up

block inHead 
  script(src="/javascripts/scrollToCurrent.js" defer) 

